@font-face {
    font-family: 'Canela Web';
    src: url('CanelaWeb-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Web';
    src: url('CanelaWeb-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

